<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.pexels.com/photos/74158/studjo-yavor-miastko-74158.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');">
  <div class="banner-content">
    <h1><%= @coach_answer %></h1>
    <p><%= link_to 'Ask another question', 'ask' %></p>
  </div>
</div>

